---
- name: setup and manage nodes
  hosts: all
  become: true
  vars_files:
    - ../../vars/packages.yml
  tasks:
    - name: install requisities
      apt:
        name: "{{ item }}"
        state: present
      loop: "{{ longhorn_requirements_deb }}"

    - name: start the iscsid service
      service:
        name: iscsid
        state: started
        enabled: true
