$TTL 8h
@ IN SOA ns1.homelab.local. hostmaster.homelab.local. (
                          2022070601 ; serial number
                          1d         ; refresh period
                          3h         ; retry period
                          3d         ; expire time
                          3h )       ; minimum TTL

                  IN NS   ns1.homelab.local.
                  IN MX   10 mail.homelab.local.

ns1               IN A    192.168.0.5
t440              IN A    192.168.0.5
baxter            IN A    192.168.0.102
docker0           IN A    192.168.0.104
node0             IN A    192.168.0.101
node1             IN A    192.168.0.103
node2             IN A    192.168.0.105
node3             IN A    192.168.0.106
node4             IN A    192.168.0.107
node5             IN A    192.168.0.108
rhel0             IN A    192.168.0.109
omada             IN A    192.168.0.110
pve0              IN A    192.168.0.100
