$TTL 8h
@ IN SOA ns1.homelab.local. hostmaster.homelab.local. (
                          2022070601 ; serial number
                          1d         ; refresh period
                          3h         ; retry period
                          3d         ; expire time
                          3h )       ; minimum TTL

                  IN NS   ns1.homelab.local.
                  IN MX   10 mail.homelab.local.

www               IN A    192.168.2.1
ns1               IN A    192.168.2.236
mail              IN A    192.168.2.1
