name: ansible-lint
on:
  pull_request:
    branches: ["main"]
jobs:
  build:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.11.1
        # optional (see below):
        with:
          args: "--profile min"
          setup_python: "true"
          working_directory: "playbooks"
          requirements_file: "../requirements.yml"
